<!DOCTYPE html
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Jobs Listing</title>
    <style>
      
      #banner {
        width: 100%;
        height: 360px;
        object-fit: cover;
      }

      h1 {
        text-align: center; 
        font-family: Roboto;
      }

      h2 {
        text-align: center;  
        font-family: Roboto;
      }

      p {
        text-align: center;
        font-family: Roboto;
        color: rgb(80, 80, 80);
      }

      #container {
        max-width: 720px;
        margin: 0 auto;
      }
    </style>
  </head>
  
  <body>
    <div id="container">
      <h1>Rolex Careers</h1>
      <img id="banner" src="https://d4607c16-8e96-4433-a546-07e7716c2e09-00-3ge70rspguyem.sisko.replit.dev/static/banner.jpg">
      <h2>About Rolex</h2>
    <p>
      Our mission is to connect talented professionals with their ideal career opportunities. We strive to simplify the job search process by providing a user-friendly platform where job seekers can explore diverse listings across industries. For employers, we offer a robust tool to attract top talent and build their dream teams. Whether you're taking the next step in your career or growing your company, we're here to facilitate meaningful connections in the professional world.
    </p>
    <h2>Open Positions</h2>
    <p>TODO - Show the jobs here</p>
    <div style="text-align:center;">
      <button>Contact Us</button>
  </body>
</html>